#header-section {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
}

#content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #F1F2EB;
    text-align: center;
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
}

footer h2 {
    display: flex;
    justify-content: flex-end;
}

.button {
    position: flex;
    display: inline-block;
    border: none;
    color: #000000;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
}

.Info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 200px;;
    cursor: pointer;
    background-color: transparent;
    border:none;
    height: 20%;
    width: 30%;
    padding: 10px;
    color: #000000;
}

.box {
    width: 200%;
    height: 80%;
    rotate: -30deg; 
    display:flex;
    position:absolute;
    top:10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    background-color: #000000;
}

.Game {
    display: flex;
    margin: 50px;
    text-decoration: underline;
    padding: 1% 1%;
    background-color: #7494EA;
    color: #FC7753;
    border: 5px solid #F1F2EB;
    cursor: pointer;
    font-size: 50px;
    z-index: -1;

}

.Game2 {
    display: flex;
    margin: 50px;
    text-decoration: underline;
    padding: 1% 1%;
    background-color: #717744;
    color: #7494EA;
    border: 5px solid #F1F2EB;
    cursor: pointer;
    font-size: 50px;
    z-index: -1;

}
.Game3 {
    display: flex;
    margin: 50px;
    text-decoration: underline;
    padding: 1% 1%;
    background-color: #FC7753;
    color: #717744;
    border: 5px solid #F1F2EB;
    cursor: pointer;
    font-size: 50px;
    z-index: -1;

}

.sign{
    background-color: #7494EA;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border:none;
    font-size: 30px;
}

html,body  
{  
    height:100%;
    overflow:hidden;
}  